@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke: 0.0625rem transparent;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  outline: none;
  font-family: "Montserrat";
}
main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

a {
  &.link-s {
    color: var(--color-black);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.25rem;
  }
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  &:hover {
    text-decoration: UNDERLINE;
  }
}

p {
  &.short {
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    text-decoration: initial;
  }
  &.long {
    color: var(--color-black);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: initial;
  }
  background-color: rgba(0, 0, 0, 0);
  font-family: inherit;
  border-radius: initial;
  padding: 0 0;
  border: initial;
  box-shadow: initial;
}

h3 {
  color: var(--color-black);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2rem;
  text-decoration: initial;
  margin-bottom: 1.625rem;
}
.input-container {
  color: var(--color-black);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  span.note {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    text-decoration: initial;
    display: none;
  }

  input {
    background-color: var(--color-white);
    border: 0.0625rem SOLID var(--color-black);
    border-radius: 0.125rem 0.125rem 0.125rem 0.125rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0.5rem 0.5rem;
  }

  label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
  }
}
button,
input[type="submit"] {
  position: relative;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  padding: 0.75rem 2rem;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-primary);
  border: none;
  &:hover {
    background-color: var(--color-primary_hover);
  }
  &:active {
    background-color: var(--color-primary_hover);
  }

  &:disabled {
    pointer-events: none;
    color: var(--color-text-disabled);
    background-color: var(--color-button-disabled);
  }
}
button:not(:disabled),
input[type="submit"]:not(:disabled),
a:not(.disabled) {
  cursor: pointer;
}
button:disabled,
input[type="submit"]:disabled,
a.disabled {
  cursor: no-drop;
}
input.ng-invalid:not(.ng-pristine) + .note {
  display: block;
  color: var(--color-error);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-size: inherit;
  -webkit-box-shadow: 0 0 0 1.875rem white inset !important;
}
.subtitle {
  font-weight: 200;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.075rem;
}
h1 {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--color-menu);
}
h2 {
  font-weight: 600;
  font-size: 0.9375rem;
  color: var(--color-menu);
}
h3 {
  font-weight: 600;
  font-size: 0.75rem;
}
.card {
  background-color: white;
  margin: 0 1rem;
  height: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  p {
    font-size: 0.875rem;
    margin: 0.25rem 0 0.75rem;
    line-height: 1rem;
    padding-bottom: 0.25rem;
    border-bottom: 0.0625rem solid var(--color-pure-gray);
  }
  .input-container {
    position: relative;
    font-size: 0.875rem;
    margin-bottom: 0rem;
    flex-direction: initial;
    input {
      font-size: 0.8125rem;
      line-height: 1.1875rem;
      padding: 0.25rem 0.5rem;
    }
    > i {
      position: absolute;
      left: 84%;
      top: 0.5rem;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
  .list {
    max-height: 50vh;
    min-height: 50vh;
    overflow-y: auto;
    height: 100%;
    display: flex;
    position: relative;
    .error {
      margin: 0 auto;
      font-size: 0.8125rem;
      line-height: 1rem;
      text-align: center;
      position: absolute;
      top: 50%;
      width: 66%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      img {
        display: block;
        width: 2.625rem;
        margin: 0 auto 0.5rem;
      }
      font-size: 0.75rem;
      text-align: center;
    }
    .legend {
      position: sticky;
      top: 0;
      background-color: white;
      span {
        padding: 0.25rem 0 0;
      }
      .selected {
        font-weight: 500;
        text-decoration: underline;
      }
    }
    ul {
      width: 100%;
    }
    li {
      input {
        max-width: 0;
        max-height: 0;
        opacity: 0;
        position: absolute;
        pointer-events: none;
        z-index: -9999;
      }
      label {
        width: 100%;
        cursor: pointer;
        justify-content: start;
        align-items: center;
        width: 100%;
        padding: 0 0.625rem;
        span {
          padding: 0.625rem 0;
          font-size: 0.6875rem;
          margin-right: 0.5rem;
          line-height: 1rem;
          &.big {
            font-size: 0.75rem;
          }
          &:last-child {
            margin-right: 0;
          }
        }
        .coords {
          flex: 1;
          justify-content: space-between;
        }
      }

      &:not(.selected):not(.legend):hover {
        background-color: var(--color-gray);
      }
      input:checked + label {
        background-color: var(--color-pure-gray);
      }
    }
  }
}

.loader {
  opacity: 0;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  pos &:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  position: relative;
  text-indent: -9999em;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0.2);
  border-right: 0.1875rem solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.1875rem solid rgba(255, 255, 255, 0.2);
  border-left: 0.1875rem solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  &.visible {
    opacity: 1;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  > div {
    max-width: 60%;
    background-color: white;
    padding: 2.5rem;
    position: relative;
    text-align: center;
    img {
      width: 2.4375rem;
      margin-bottom: 0.25rem;
    }
    i {
      position: absolute;
      top: 0.625rem;
      right: 1rem;
      font-weight: 200;
      cursor: pointer;
    }
  }
}
.autocomplete {
  padding: 0.625rem;
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 100%;
  text-align: left;
  background: white;
  font-size: 0.8125rem;
  box-shadow: 0rem 0rem 0.625rem 0.125rem var(--color-text-disabled);
  li {
    cursor: pointer;
    padding: 0.25rem;
    border-bottom: 0.0625rem solid #9e9e9e;
    &:hover {
      background-color: var(--color-gray);
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}
