:root {
  --color-white: #fff;
  --color-black: #53565a;
  --color-gray: #fafafa;
  --color-pure-gray: #e6e6e6;
  --color-primary: #597cbe;
  --color-primary_hover: #01426a;
  --color-error: #f25c52;
  --color-warning: #fdbc40;
  --color-success: #00b29a;
  --color-darkBlue: #24343d;
  --color-menu: #20416c;
  --color-google: #4889f2;
  --color-text-disabled: rgba(30, 44, 52, 0.24);
  --color-button-disabled: rgba(30, 44, 52, 0.05);
}
