<header id="menu" > 
  <a href="www.gestamp.com">
      <img src="assets/img/ico.png" alt="">
    </a>
  <nav >
   
    <ul>
      <li>
        <a routerLink="['home']" class="router-link-active">
          <i class="fas fa-tasks-alt"></i>
          {{'MENU.HOME' | translate}}
        </a>
      </li>
      
      <li>
        <a routerLink="['home']" class="disabled" >
          <i class="fas fa-columns"></i>
          {{'MENU.LINK3' | translate}}
        </a>
      </li >
      <li>
        <a routerLink="['home']" class="disabled" >
          <i class="fas fa-compress-alt"></i>
          {{'MENU.LINK2' | translate}}
        </a>
      </li >
    </ul>
  
     </nav>
     <div id="profile">
      <img [src]="(credentials$ | async).photoUrl || '/assets/img/menu/user-placeholder.png'" alt="">
      <p>{{credentials$ | async | profileName}}</p>
     </div>
</header>