.modal {
  > div {
    max-width: 40%;
    width: 100%;
    img {
      display: block;
      margin: 0 auto 0.5rem;
    }
    article {
      h3 {
        margin-bottom: 0rem;
        text-align: left;
      }
      .input-container {
        position: relative;
      }

      ul {
        max-height: 9.75rem;
        overflow: auto;
        margin-bottom: 2rem;
        label {
          font-size: 0.8125rem;
          cursor: pointer;
          text-align: left;
          padding: 0.25rem;
          &:hover {
            background-color: var(--color-gray);
          }
          &.selected {
            background-color: var(--color-pure-gray);
          }
        }
      }
    }
  }
}
