#home-page {
  margin-left: 3.75rem;
  background-color: var(--color-pure-gray);
  height: 100%;
  header {
    padding: 1rem 1rem;
    background-color: white;
    justify-content: space-between;
    a {
      font-size: 0.75rem;
      i {
      }
    }
  }
  > section {
    padding: 1.25rem;
    article {
    }
  }
}
